<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<configuration>

  <!-- 도메인 패키지 자동 별칭 -->
  <typeAliases>
    <package name="com.routy.routyback.domain"/>
  </typeAliases>

  <!-- 매퍼 패키지 등록 -->
  <mappers>
    <package name="com.routy.routyback.mapper"/>
  </mappers>

</configuration>