<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.routy.routyback.mapper.user.CartMapper">
    
    <resultMap id="CartItemDTOMap"  type="com.routy.routyback.dto.CartResponseDTO$CartItemDTO">
        <id property="cartItemId"       column="CARTNO"/>
        <result property="productId"    column="PRDNO"/>
        <result property="name"         column="PRDNAME"/>
        <result property="brand"        column="PRDCOMPANY"/>
        <result property="price"        column="PRDPRICE"/>
        <result property="quantity"        column="CARTSTOCK"/>
        <result property="imageUrl"        column="PRDIMG"/>
        <result property="selected"        column="CARTSELECT"/>
    </resultMap>

    <select id="findItemByUserNo" parameterType="long" resultMap="CartItemDTOMap">
        SELECT
            c.cartNo,
            c.prdNo,
            p.prdName,
            p.prdPrice,
            p.prdCompany,
            p.prdImg,
            c.cartStock,
            c.cartSelect
        FROM
            CART c
        JOIN
            PRODUCT p ON c.prdNo = p.prdNo
        WHERE
            c.userNo = #{userNo}
        ORDER BY
            c.cartDate DESC

    </select>

    <select id="findCartItemIdByUserAndProduct" resultType="long">
        SELECT CARTNO
        FROM CART
        WHERE USERNO = #{userNo} AND PRDNO = #{productId}
    </select>

    <insert id="insertItem">
        INSERT INTO CART (CARTNO, USERNO, PRDNO, CARTSTOCK)
        VALUES (
                #{userNo},
                #{productId},
                #{quantity}
               )
    </insert>

    <update id="addStock">
        UPDATE CART
        SET CARTSTOCK = CARTSTOCK + #{quantity}
        WHERE CARTNO = #{cartNo}
    </update>

    <update id="updateQuantity">
        UPDATE CART
        SET CARTSTOCK = #{quantity}
        WHERE USERNO = #{userNo} AND CARTNO = #{cartItemId}
    </update>

    <update id="updateSelected">
        UPDATE CART
        SET CARTSELECT =
            <choose>
                <when test="selected == true">1</when>
                <otherwise>0</otherwise>
            </choose>
        WHERE USERNO = #{userNo} AND CARTNO = #{cartItemId}
    </update>

    <update id="updateAllSelected">
        UPDATE CART
        SET CARTSELECT =
            <choose>
                <when test="selected == true">1</when>
                <otherwise>0</otherwise>
            </choose>
        WHERE USERNO = #{userNo}
    </update>

    <delete id="deleteItem">
        DELETE FROM CART
        WHERE USERNO = #{userNo} AND CARTNO = #{cartItemId}
    </delete>

    <delete id="deleteSelectedItems">
        DELETE FROM CART
        WHERE USERNO = #{userNo} AND CARTSELECT = 1
    </delete>
        
</mapper>