<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.routy.routyback.mapper.user.ProductUserMapper">
  
  	<resultMap id="prdResult" type="com.routy.routyback.dto.ProductUserDTO">
		<result property="prdNo" column="prdNo"/>
		<result property="prdName" column="prdName"/>
		<result property="prdPrice" column="prdPrice"/>
		<result property="prdVolume" column="prdVolume"/>
		<result property="prdCompany" column="prdCompany"/>
		<result property="prdMainCate" column="prdMainCate"/>
		<result property="prdSubCate" column="prdSubCate"/>	
		<result property="prdImg" column="prdImg"/>	
		<result property="prdDesc" column="prdDesc"/>	
	</resultMap>
	
	<select id="productDetailView" resultType="com.routy.routyback.dto.ProductUserDTO">
		SELECT
			prdNo, prdName,prdPrice,prdVolume,prdCompany,prdMainCate,prdSubCate,prdImg,prdDesc
		FROM 
			PRODUCT
		WHERE prdNo=#{prdNo}
	</select>
	<!--  이미지 리스트 조회 -->
	<select id="selectProductImageList" resultType="com.routy.routyback.domain.ProductImageVO">
        SELECT 
            PI_NO as piNo,
            PRD_NO as prdNo,
            PI_URL as piUrl,
            PI_TYPE as piType,
            PI_SORT as piSort
        FROM 
            PRODUCT_IMAGE
        WHERE 
            PRD_NO = #{prdNo}
        ORDER BY 
            PI_SORT ASC
    </select>
	
	<select id="productAllSkinCate" resultType="com.routy.routyback.dto.ProductUserDTO">
		SELECT
			p.*
			, (
				select count(*)
				from REVIEW r
					inner join USERS u on u.userNo=r.userNo
					inner join REVIEW_FEEDBACK rf on rf.revNo=r.revNo
				where r.prdNo=p.prdNo and rf.rfTypeCode &lt; 500
					<if test="skin != null and skin != ''">
			            AND u.userSkin = #{skin}
			        </if>
			        <if test="sub_cate != null and sub_cate != ''">
			            AND p.prdSubCate = #{sub_cate}
			        </if>
			) cnt
		FROM 
			PRODUCT p
		WHERE 1 = 1 
			<if test="sub_cate != null and sub_cate != ''">
	            AND p.prdSubCate = #{sub_cate}
	        </if>
		ORDER BY cnt DESC
		FETCH FIRST #{limit} ROWS ONLY
	</select>
	
	<select id="productCateViewed" resultType="int">
		SELECT
			prdSubCate, count(*) cnt
		FROM
			VIEWED_PRODUCT
		WHERE userNo = #{user_no}
		GROUP BY prdSubCate
		ORDER BY cnt DESC
		FETCH FIRST 5 ROWS ONLY
	</select>

    <select id="selectFallbackProducts" resultType="com.routy.routyback.dto.ProductUserDTO">
        SELECT *
        FROM (
        SELECT
        p.*,
        r.AVG_STAR AS avgRating,
        DBMS_RANDOM.VALUE AS randomSort
        FROM PRODUCT p
        JOIN (
        SELECT
        PRDNO,
        AVG(REVSTAR) AS AVG_STAR
        FROM REVIEW
        GROUP BY PRDNO
        ) r ON p.PRDNO = r.PRDNO
        WHERE r.AVG_STAR >= 3.0
        )
        ORDER BY randomSort
        FETCH FIRST ${limit} ROWS ONLY
    </select>

</mapper>