<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.routy.routyback.mapper.admin.IOrdersAdmDAO">
    <sql id="listAllOrdersFilter">
        FROM ORDERS o
        	LEFT JOIN USERS u ON u.userNo=o.userNo
        	LEFT JOIN QNA qa ON qa.odNo=o.odNo
        WHERE ODSTATUS > 1
        <if test="mem_name != null and mem_name != ''">
            AND u.userName LIKE #{mem_name}
        </if>
        <if test="od_start_day != null and od_start_day != ''">
            AND o.odRegdate >= #{od_start_day}
        </if>
        <if test="od_end_day  != null and od_end_day  != ''">
            AND o.odRegdate &lt; TO_DATE(#{od_end_day}, 'YYYY-MM-DD') + 1
        </if>

        <choose>
            <otherwise>
                ORDER BY o.odNo DESC
            </otherwise>
        </choose>
    </sql>
	<select id="listAllOrders" resultType="com.routy.routyback.dto.OrdersUsDTO">
		SELECT o.*, u.userName, u.userNick, u.userId, u.userHp, qa.qnaNo
	    <include refid="listAllOrdersFilter"/>
		OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
    <select id="listAllOrdersCount" resultType="int">
	    SELECT COUNT(1)
	    <include refid="listAllOrdersFilter"/>
    </select>
    
    <select id="detailOrder" parameterType="int" resultType="com.routy.routyback.dto.OrdersUsDTO">
	    SELECT o.*, u.userName, u.userNick, u.userId, u.userHp, qa.qnaNo
	    FROM ORDERS o
	    	LEFT JOIN USERS u ON u.userNo=o.userNo
	    	LEFT JOIN QNA qa ON qa.odNo=o.odNo
	    WHERE o.odNo = #{odNo}
    </select>
    
    
    
    <sql id="listAllOrderDeliveryFilter">
        FROM DELIVERY d
        	LEFT JOIN ORDERS o ON o.odNo=d.odNo
        	LEFT JOIN USERS u ON u.userNo=o.userNo
        	LEFT JOIN QNA qa ON qa.delvNo=d.delvNo
        WHERE 1=1
        <if test="mem_name != null and mem_name != ''">
            AND u.userName LIKE #{mem_name}
        </if>
        <if test="delv_s_start_day != null and delv_s_start_day != ''">
            AND d.delvRegdate >= #{delv_s_start_day}
        </if>
        <if test="delv_s_end_day  != null and delv_s_end_day  != ''">
            AND d.delvRegdate &lt; TO_DATE(#{delv_s_end_day}, 'YYYY-MM-DD') + 1
        </if>
        <if test="delv_e_start_day != null and delv_e_start_day != ''">
            AND d.delvEnddate >= #{delv_e_start_day}
        </if>
        <if test="delv_e_end_day  != null and delv_e_end_day  != ''">
            AND d.delvEnddate &lt; TO_DATE(#{delv_e_end_day}, 'YYYY-MM-DD') + 1
        </if>

        <choose>
            <otherwise>
                ORDER BY d.delvNo DESC
            </otherwise>
        </choose>
    </sql>
	<select id="listAllOrdersDelivery" resultType="com.routy.routyback.dto.DeliveryDTO">
		SELECT d.*, u.userNo, u.userName, u.userNick, u.userId, u.userHp, qa.qnaNo
	    <include refid="listAllOrderDeliveryFilter"/>
		OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
    <select id="listAllOrdersDeliveryCount" resultType="int">
	    SELECT COUNT(1)
	    <include refid="listAllOrderDeliveryFilter"/>
    </select>
    
    <select id="detailOrderDelivery" parameterType="int" resultType="com.routy.routyback.dto.DeliveryDTO">
	    SELECT d.*, u.userNo, u.userName, u.userNick, u.userId, u.userHp, qa.qnaNo
	    FROM DELIVERY d
	    	LEFT JOIN ORDERS o ON o.odNo=d.odNo
	    	LEFT JOIN USERS u ON u.userNo=o.userNo
	    	LEFT JOIN QNA qa ON qa.delvNo=d.delvNo
    	WHERE d.delvNo = #{delvNo}
    </select>
    
    <insert id="insertOrderDelivery" parameterType="com.routy.routyback.dto.DeliveryDTO">
    	<selectKey keyProperty="delvNo" resultType="int" order="BEFORE">
	        SELECT ISEQ$$_119801.NEXTVAL FROM dual
	    </selectKey>
	    INSERT INTO DELIVERY (
            delvNo, odNo, delvCompany, delvComNum
            , delvType, delvStatus
            , delvGetName, delvGetHp
            , delvGetZip, delvGetJibunAddr, delvGetRoadAddr, delvGetDetailAddr, delvGetBcCode
        )
        VALUES (
        	#{delvNo}, #{odNo}, #{delvCompany}, #{delvComNum}
            , #{delvType}, 1
            , #{delvGetName}, #{delvGetHp}
            , #{delvGetZip}, #{delvGetJibunAddr}, #{delvGetRoadAddr}, #{delvGetDetailAddr}, #{delvGetBcCode}
		)
    </insert>
    
    <update id="updateOrderDelivery" parameterType="com.routy.routyback.dto.DeliveryDTO">
    	UPDATE DELIVERY
    	<set>
    		<if test="delvCompany != null"> delvCompany = #{delvCompany}, </if>
    		<if test="delvComNum != null"> delvComNum = #{delvComNum}, </if>
	        <if test="delvType != 0"> delvType = #{delvType}, </if>
	        <if test="delvStatus != 0"> delvStatus = #{delvStatus}, </if>
	        <if test="delvGetName != null"> delvGetName = #{delvGetName}, </if>
	        <if test="delvGetHp != null"> delvGetHp = #{delvGetHp}, </if>
	        <if test="delvGetZip != 0"> delvGetZip = #{delvGetZip}, </if>
	        <if test="delvGetJibunAddr != null"> delvGetJibunAddr = #{delvGetJibunAddr}, </if>
	        <if test="delvGetRoadAddr != null"> delvGetRoadAddr = #{delvGetRoadAddr}, </if>
	        <if test="delvGetDetailAddr != null"> delvGetDetailAddr = #{delvGetDetailAddr}, </if>
	        <if test="delvGetBcCode != 0"> delvGetBcCode = #{delvGetBcCode}, </if>
	        <if test="delvStatus == 6"> delvEnddate = CURRENT_DATE, </if>
    	</set>
    	WHERE delvNo = #{delvNo}
    </update>
    
    <delete id="deleteOrderDelivery" parameterType="int">
    	DELETE FROM DELIVERY WHERE delvNo = #{delvNo}
    </delete>
    
    
    
    <sql id="listAllOrderClaimFilter">
        FROM QNA qa 
        	INNER JOIN USERS u ON u.userNo=qa.userNo
        	LEFT JOIN DELIVERY d ON d.delvNo=qa.delvNo
        WHERE qa.qnaType IN (7, 8)
        <if test="m_name != null and m_name != ''">
            AND u.userName LIKE #{m_name}
        </if>
        <if test="s_regdate != null and s_regdate != ''">
            AND qa.qnaDate >= #{s_regdate}
        </if>
        <if test="e_regdate  != null and e_regdate  != ''">
            AND qa.qnaDate &lt; TO_DATE(#{e_regdate}, 'YYYY-MM-DD') + 1
        </if>
        <if test="claim_type == '7' or claim_type == 7">
            AND qa.qnaType = 7
        </if>
        <if test="claim_type == '8' or claim_type == 8">
            AND qa.qnaType = 8
        </if>
        <if test="claim_status == '1' or claim_status == 1">
            AND qa.qnaStatus = 1
        </if>
        <if test="claim_status == '2' or claim_status == 2">
            AND qa.qnaStatus = 2
        </if>
        <if test="claim_status == '3' or claim_status == 3">
            AND qa.qnaStatus = 3
        </if>

        <choose>
            <otherwise>
                ORDER BY qa.qnaNo DESC
            </otherwise>
        </choose>
    </sql>
	<select id="listAllOrdersClaim" resultType="com.routy.routyback.dto.OrderClaimDTO">
		SELECT *
	    <include refid="listAllOrderClaimFilter"/>
		OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
    <select id="listAllOrdersClaimCount" resultType="int">
	    SELECT COUNT(1)
	    <include refid="listAllOrderClaimFilter"/>
    </select>
    
    <select id="detailOrderClaim" parameterType="int" resultType="com.routy.routyback.dto.OrderClaimDTO">
	    SELECT *
	    FROM QNA qa
	    	INNER JOIN USERS u ON u.userNo=qa.userNo
	    	LEFT JOIN DELIVERY d ON d.delvNo=qa.delvNo
    	WHERE qa.qnaNo = #{qnaNo}
    </select>
    
    <update id="updateOrderClaim" parameterType="com.routy.routyback.dto.DeliveryDTO">
    	UPDATE QNA
    	<set>
    		<if test="delvNo != 0"> delvNo = #{delvNo}, </if>
    		<if test="qnaA != null"> qnaA = #{qnaA}, </if>
	        <if test="qnaStatus != 0"> qnaStatus = #{qnaStatus}, </if>
    	</set>
    	WHERE qnaNo = #{qnaNo}
    </update>
    
    <update id="updateOrder" parameterType="com.routy.routyback.dto.DeliveryDTO">
    	UPDATE ORDERS
    	<set>
    		<if test="odStatus != null"> odStatus = #{odStatus}, </if>
    	</set>
    	WHERE odNo = #{odNo}
    </update>
    
</mapper>