<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.routy.routyback.mapper.ProductMapper">

	<resultMap id="prdResult"
		type="com.routy.routyback.dto.ProductUserDTO">
		<result property="prdNo" column="prdNo" />
		<result property="prdName" column="prdName" />
		<result property="prdPrice" column="prdPrice" />
		<result property="prdVolume" column="prdVolume" />
		<result property="prdCompany" column="prdCompany" />
		<result property="prdMainCate" column="prdMainCate" />
		<result property="prdSubCate" column="prdSubCate" />
		<result property="prdImg" column="prdImg" />
		<result property="prdDesc" column="prdDesc" />
	</resultMap>

	<select id="getAll"
		resultType="com.routy.routyback.dto.ProductDTO">
		SELECT
		PRDNO,
		PRDNAME,
		PRDPRICE,
		PRDVOLUME,
		PRDCOMPANY,
		PRDSTOCK,
		PRDMAINCATE,
		PRDSUBCATE,
		PRDIMG,
		PRDDESC,
		PRDUPDATE,
		PRDREGDATE
		FROM PRODUCT
		ORDER BY PRDNO DESC
	</select>

	<select id="selectById" parameterType="int"
		resultType="com.routy.routyback.dto.ProductDTO">
		SELECT
		PRDNO,
		PRDNAME,
		PRDPRICE,
		PRDVOLUME,
		PRDCOMPANY,
		PRDSTOCK,
		PRDMAINCATE,
		PRDSUBCATE,
		PRDIMG,
		PRDDESC,
		PRDUPDATE,
		PRDREGDATE
		FROM PRODUCT
		WHERE PRDNO = #{prdNo}
	</select>

	<insert id="productInsert"
		parameterType="com.routy.routyback.dto.ProductDTO">
		INSERT INTO PRODUCT (
		PRDNO,
		PRDNAME,
		PRDPRICE,
		PRDVOLUME,
		PRDCOMPANY,
		PRDSTOCK,
		PRDMAINCATE,
		PRDSUBCATE,
		PRDIMG,
		PRDDESC,
		PRDUPDATE,
		PRDREGDATE
		)
		VALUES (
		PRODUCT_SEQ.NEXTVAL,
		#{prdName},
		#{prdPrice},
		#{prdVolume},
		#{prdCompany},
		#{prdStock},
		#{prdMainCate},
		#{prdSubCate},
		#{prdImg},
		#{prdDesc},
		SYSDATE,
		SYSDATE
		)
	</insert>

	<update id="productUpdate"
		parameterType="com.routy.routyback.dto.ProductDTO">
		UPDATE PRODUCT
		SET
		PRDNAME = #{prdName},
		PRDPRICE =
		#{prdPrice},
		PRDVOLUME = #{prdVolume},
		PRDCOMPANY = #{prdCompany},
		PRDSTOCK = #{prdStock},
		PRDMAINCATE = #{prdMainCate},
		PRDSUBCATE =
		#{prdSubCate},
		PRDIMG = #{prdImg},
		PRDDESC = #{prdDesc},
		PRDUPDATE =
		SYSDATE
		WHERE PRDNO = #{prdNo}
	</update>

	<delete id="productDelete" parameterType="int">
		DELETE FROM PRODUCT
		WHERE PRDNO
		= #{prdNo}
	</delete>

	<update id="productUpdateStock">
		UPDATE PRODUCT
		SET PRDSTOCK = #{prdStock}
		WHERE PRDNO =
		#{prdNo}
	</update>

	<update id="productUpdateStatus">
		UPDATE PRODUCT
		SET PRDSTATUS = #{status}
		WHERE PRDNO =
		#{prdNo}
	</update>

</mapper>
	